@import "compass/css3";
*, :before, :after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
.unstyled a {
  text-decoration: none;
}
.list-inline {
  overflow: hidden;
}
.list-inline li {
  float: left;
}
.header {
  position: sticky;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  /*background: #35302D;*/
  background-image: url(/paginaInicio/assets/images/hero-bg/landingLogin.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.logo {
  text-transform: lowercase;
  font: 300 2em 'Source Sans Pro', Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}
.logo a {
  display: block;
  padding: 1em 0;
  color: #DFDBD9;
  text-decoration: none;
  transition: 0.15s linear color;
}
.logo a:hover {
  color: #fff;
}
.logo a:hover span {
  color: #DF4500;
}
.logo span {
  font-weight: 700;
  transition: 0.15s linear color;
}
.main-nav ul {
  border-top: solid 1px #3C3735;
}
.main-nav li {
  border-bottom: solid 1px #3C3735;
}
.main-nav a {
  padding: 1.1em 0;
  color: #DFDBD9;
  font: 400 1.125em 'Source Sans Pro', Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: lowercase;
}
.main-nav a:hover {
  color: #fff;
}
.social-links {
  border-bottom: solid 1px #3C3735;
}
.social-links li {
  width: 25%;
  border-left: solid 1px #3C3735;
}
.social-links li:first-child {
  border: none;
}
.social-links a {
  display: block;
  height: 5.5em;
  text-align: center;
  color: #3C3735;
  font: 0.75em/5.5em 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
.social-links a:hover {
  color: #DFDBD9;
}
.list-hover-slide li {
  position: relative;
  overflow: hidden;
}
.list-hover-slide a {
  display: block;
  position: relative;
  z-index: 1;
  transition: 0.35s ease color;
}
.list-hover-slide a:before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  border-right: solid 5px #DF4500;
  background: #3C3735;
  transition: 0.35s ease left;
}
.list-hover-slide a.is-current:before, .list-hover-slide a:hover:before {
  left: 0;
}

/*End Sidebar*/

.body{
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: repeat(3, minmax(max-content, 1fr));
  min-width: 650px;
  min-height: 400px;
  background-color: #b2bec3;
}

/*Administrar Horarios*/

.administrarHorario{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 8fr 4fr;
}



@media screen and (max-width: 1400px) {
  .body{
    grid-template-columns: 250px 1fr;
  }
  .administrarHorario{
    grid-template-columns: 1fr;
  }
  .header{
    width: 250px;
  }
}


.cajaVista{
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 50px);
  row-gap: 5px;
  }
.tablaDescripcion{
  display: grid;
  grid-template-columns: repeat(7, 1fr)
}
.tablaDescripcion span{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: black 1px solid;
}
  .tablaCompletar{
    display: grid;
  grid-template-columns: repeat(7, 1fr)
}
.tablaCompletar span{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: #000000 1px solid;
}
.accciones{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  place-items: center;
}
.accciones button{
  background: none;
  border: none;
  cursor: pointer;
}
.accciones button img{
  height: 25px;
  width: auto;  
}


.contenedorCRUD{
background-color: #DF4500;  
}
.cajaCrud{
  background-color: aquamarine;
}


/*Citas*/



/*Historial*/